.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $secondary-color;
    padding: 20px;


    p {
        font-size: 22px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 2;
        padding: 20px;
        height: 250px;

        p {
            width: 80%;
            padding: 12px 10px;

        }

        .input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin-top: 0px;
            padding: 20px 8px;


            input{
                flex: 2;
                padding: 20px 12px;
                border: none;
                border-radius: 20px 0 0 20px;
                font-size: 14px;

                &:focus {
                    outline: none;
                }
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                padding: 16px 0;
                border: none;
                border-radius: 0 20px 20px 0;
                background-color: $primary-color;
                color: #fff;
                cursor: pointer;

                span{
                    margin-right: 10px;
                }

            }

        }
    }
    .shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        flex: 1;
        padding: 20px;
        height: 250px;

        p{
            width: 80%;
        }

        div {
            font-size: 16px;
            margin-top: 10px;
            width: 80%;
        }
    }

    .connect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 20px;
        height: 250px;


        p:first-child{
            width: 80%;

        }

        .icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;
   
            div {
                margin-top: 10px;
                width: 80%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    font-size: 16px;
                    margin-left: 10px;
                }
            }

        }
    }


}