.item {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 90%;
    max-width: 1200px;
    margin: 140px auto 50px;
    overflow: auto;
    scroll-behavior: smooth;


    * {
        color: $text-color;
        transition: all .2s ease-in-out;
    }

    .images {
        flex: 1;

        .main-image {
            background-color: $secondary-color;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;       
            
            img {
                width: 100%;
                height: 100%;
            }
        }
        .minor-images {
            padding: 10px 0;

            img {
                width: 100px;
                height: 60px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }

    .content {
        flex: 1;
        padding: 0 20px;

        .content-top {
            margin-bottom: 50px;

            h2 {
                font-size: 40px;
                font-weight: 500;
            }
            p {
                font-size: 20px;
            }
        }

        .details {
            width: 100%;

            .head {
                display: flex;
                justify-content: center;
                text-align: center;

                p {
                    background-color: $secondary-color;
                    padding: 16px;
                    opacity: 0.5;
                    flex: 1;
                    border-radius: 10px 10px 0 0;

                    &:first-child {
                        margin-right: 5px;
                    }
                    
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                        text-decoration: underline;
                    }    
                }
            }

            .body {
                background-color: $secondary-color;
                padding: 20px;
                border-radius: 0 0 10px 10px;

                .fabric {
                    margin-bottom: 10px;

                    p {
                        
                        span {
                            font-weight: bold;
                        }
                    }

                    .options {
                        padding: 20px 20px 20px 0 ;
                        display: flex;

                        div {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: none;
                            margin-right: 20px;
                            cursor: pointer;

                        }

                        .blue {
                            background-color: $midnight-blue;


                            &:hover {
                                outline: 2px solid $midnight-blue;
                                border: 1px solid white;
                            }
                        }
                        .gray {
                            background-color: $warm-grey;

                            &:hover {
                                outline: 2px solid $warm-grey;
                                border: 1px solid white;
                            }
                        }
                        .green {
                            background-color: $pine-green;

                            &:hover {
                                outline: 2px solid $pine-green;
                                border: 1px solid white;
                            }
                        }

                    }

                    
                }

                .arms {

                    p {          
                        span {
                            font-weight: bold;
                        }
                    }

                    .options {
                        padding: 20px 20px 20px 0;
                        display: flex;

                        div {
                         
                            height: 30px;
                            background-color: rgba(128, 128, 128, 0.154);
                            margin-right: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid rgba(128, 128, 128, 0.154);
                            border-radius: 20px;
                            padding: 20px;
                            font-size: 13px;
                            cursor: pointer;

                            &:hover {
                                border: 1px solid $text-color;
                            }

                            & + .included {
                                width: 100px;
                            }
                            & + .not-included {
                                width: 120px;
                            }
                        }
                    }
                }

                .display {
                    width: 100%;
                    height: 250px;;
                    background-color: #FFF;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 30px;
                    padding: 0 0 30px 0;
                    margin-bottom: 50px;

                    .top {
                        width: 100%;
                        background-color: #FC766A;
                        text-align:  center;
                        padding: 20px;
                        border-radius: 30px 30px 0 0;

                        p {
                            color: $light-text-color;

                            span {
                                color: $light-text-color;
                                font-weight: bold;
                            }
                        }
                    }

                    p:nth-child(2) {
                        font-size: 20px;
                    }

                    .btn {
                        width: 80%;
                        background-color: $primary-color;              
                        padding: 16px;
                        border-radius: 30px;
                        text-align: center;
                        cursor: pointer;

                        &:hover {
                            background-color: $text-color;              
                        }

                        p {
                            color: #ffffffe6;
                        }
                    }
                
                }

                .dimension {
                    padding-bottom: 10px;

                    .image {
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;

                        img {
                            width: 100%;
                        }
                    }

                    .details {

                        div {
                            padding: 20px 30px 20px 0;
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid $text-color;
                        }
                    }

                }

            }
        }

       
    }

}

@media (max-width: 986px) {

    .item {
        flex-direction: column;

        .images {
            margin-bottom: 20px;
            margin-top: 140vh;

            .minor-images {
                img {
                    width: 120px;
                    height: 80px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 520px) {

    .item {
        .images {
            margin-top: 100vh;
        }
    }
}