.store {
    height: 100vh;
    border: 1px solid red;
    margin-top: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;

    .content {
        display: flex;
        margin: 0 50px;

        .left {
            width: 230px;
            max-width: 230px;
            min-width: 230px;
            // flex: 1;
            border: 1px solid red;

            .color {
                border-bottom: 1px solid gray;
            }
            .collection {
                border-bottom: 1px solid gray;
            }
            .price {
                border-bottom: 1px solid gray;
            }
        }
        .right {
            // width: 600px;
            border: 1px solid red;
            flex: 3;
        }
    }
}