$primary-color: #00968E;
$secondary-color: #F6F5F5;
$text-color: #393939;
$light-text-color: #ffffffe6;
$light-gray: rgba(128, 128, 128, 0.494);
$pine-green: #01796f;
$warm-grey: #c2b5a8;
$midnight-blue: #191970;


// #091020
// #00968E