.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $secondary-color;
    padding: 20px;
    overflow: hidden;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 2;
        padding: 20px;
        height: 250px;

        p {
            width: 80%;
            padding: 12px 10px;
            font-size: 20px;
        }

        .input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin-top: 0px;
            padding: 20px 8px;

            input{
                flex: 2;
                padding: 20px 12px;
                border: none;
                border-radius: 20px 0 0 20px;
                font-size: 14px;

                &:focus {
                    outline: none;
                }
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                padding: 16px 0;
                border: none;
                border-radius: 0 20px 20px 0;
                background-color: $primary-color;
                color: #fff;
                cursor: pointer;

                span{
                    margin-right: 10px;
                }

            }

        }
    }
    .shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        flex: 1;
        padding: 20px;
        height: 250px;

        p {
            width: 80%;
            font-size: 24px;
            margin-bottom: 12px;
        }

        div {
            font-size: 18px;
            margin-bottom: 12px;
            width: 80%;
            transition: all 0.5s ease-in;
            cursor: pointer;
            color: $text-color;
            text-decoration: none;

            &:hover {
                border-left: 1px solid $primary-color;
                padding-left: 5px;
            }
        }
    }

    .connect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 20px;
        height: 250px;

        p:first-child{
            width: 80%;
            font-size: 24px;
            margin-top: -26px;
        }

        .icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;
   
            div {
                margin-top: 10px;
                width: 80%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 16px;
                    margin-left: 10px;
                }
            }

            .github:hover {
                .github-icon{
                    color: #171515;
                    transition: all 0.5s ease-in-out;
                }
            }
            .linkedin:hover {
                .linkedin-icon{
                    color: #0072b1;
                    transition: all 0.5s ease-in-out;
                }
            }
            .twitter:hover {
                .twitter-icon{
                    color: #00acee;
                    transition: all 0.5s ease-in-out;
                }
            }

        }
    }


}

@media (max-width: 780px) {
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        .form{
            width: 100%;

            p {
                font-size: 18px;
            }
        }
        .shop {
            width: 100%;
        }
        .connect{
            padding: 5px;
            width: 100%;
            position: sticky;
            bottom: 0;
            flex-direction: row;
            align-items: center;
            background-color: gray;
            color: #fff;
            
            p:first-child {
                margin-top: 0;
                padding: 5px 0;
                font-size: 20px;

            }
            .icons {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 300px;
                
                .icon {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    margin: 0;    
                }
                p {
                    display: none;
                }
            }

        }
    }
}
