.burger-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    transition: all 0.4s ease-in-out;

    .close-btn {
        width: 100%;
        background-color: $primary-color;
        padding: 10px;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .content {
        padding: 16px 36px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            p {
                font-size: 18px;
            }

            .icon {
                display: inline-block;
            }
        }

        .items {
            * {
                text-decoration: none;
                color: $text-color;
            }

            div {
                display: flex;
                align-items: flex-end;
                margin-bottom: 14px;
                padding: 4px 16px;
                cursor: pointer;
                // border: 1px solid red;
                
                .image {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all 0.2s ease-in-out;
                    width: 40px;
                    height: 25px;
                    margin-top: 10px;
                    margin-right: 20px;
                }

                .img1 {
                    background-image: url('assets/images/img9.jpg');
                    // border-radius: 20px;
                }
                .img2 {
                    background-image: url('assets/images/sofa.jpg');
                }
                .img3 {
                    background-image: url('assets/images/armchair.jpg');
                }
                .img4{
                    background-image: url('assets/images/bundles.jpg');
                }
                .img5 {
                    background-image: url('assets/images/accessories.jpg');
                }

                p {
                    align-self: center;
                    width: 50px;
                    height: 15px;
                }


                &:hover {
                    .image {
                        transform: scale(1.2, 1.2);
                    }
                }
            }
        }
    }
}