.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 420px;
        width: 280px;
        background-color: #fff;
        border: 1px solid $light-text-color;
        box-shadow: 8px 8px 10px $light-text-color;
        border-radius: 20px;
        padding: 20px;
        margin: 10px;
        cursor: pointer;
        color: $text-color;
    
        img {
            margin-bottom: 40px;
            width: 250px;
            height: 180px;
            transition: all 1s ease-in-out;
        }
    
        h1 {
            margin-bottom: 10px;
            font-size: 28px;
            font-weight: 500;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        h4 {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        button {
            padding: 16px 24px;
            border-radius: 30px;
            border: none;
            background-color: $text-color;
            color: #FFF;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}

@media (max-width: 968px) {
    .products {
        width: 100%;
        border: 1px solid red;
       
        .product {
            width: 90%;
        }
    }
}
@media (max-width: 768px) {
    .products {
       
        // .product {
        //     max-width: 350px;
        //     width: 80%;
        // }
    }
}