.store-skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 140px;

   .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 420px;
        width: 300px;
        background-color: #fff;
        border: 1px solid $light-text-color;
        box-shadow: 8px 8px 10px $light-text-color;
        border-radius: 20px;
        padding: 20px;
        margin: 10px;

        .img {
            margin-bottom: 40px;
            width: 250px;
            height: 180px;
            border-radius: 20px;
            animation: loading 1s linear infinite alternate;

        }
        .title {
            margin-bottom: 10px;
            width: 200px;
            height: 10px;
            border-radius: 20px;
            animation: loading 1s linear infinite alternate;
        }
        .desc {
            margin-bottom: 30px;
            width: 150px;
            height: 10px;
            border-radius: 20px;
            animation: loading 1s linear infinite alternate;
        }
        .price {
            margin-bottom: 10px;
            width: 100px;
            height: 10px;
            border-radius: 20px;
            animation: loading 1s linear infinite alternate;
        }
        .btn {
            width: 100px;
            height: 30px;
            border-radius: 20px;
            animation: loading 1s linear infinite alternate;
        }
   }

}


.product-skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

    .left {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        height: 420px;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        

        .img {
            margin-bottom: 20px;
            width: 80%;
            max-width: 400px;
            height: 180px;
            border-radius: 20px;
            animation: loading 1s linear infinite alternate;
        }

        .small-imgs {
            display: flex;
            gap: 10px;
            width: 80%;
            max-width: 400px;
            margin-left: 10px;

            div {
                width: 80px;
                height: 50px;
                border-radius: 20px;
                animation: loading 1s linear infinite alternate;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 420px;
        flex: 1;
        background-color: #fff;
        padding: 20px;
        margin: 10px;

        .top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 80%;
            max-width: 400px;

            .title {
                margin-bottom: 10px;
                width: 200px;
                height: 10px;
                border-radius: 20px;
                animation: loading 1s linear infinite alternate;
            }
            .desc {
                margin-bottom: 30px;
                width: 150px;
                height: 10px;
                border-radius: 20px;
                animation: loading 1s linear infinite alternate;
            }

        }

        .item {
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 80%;
            max-width: 400px;
            background-color: #fff;
            border: 1px solid $light-text-color;
            box-shadow: 8px 8px 10px $light-text-color;
            border-radius: 20px;
            margin: 10px;
            padding: 20px;

            .top-btns {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                margin-bottom: 20px;
                margin-top: -50px;

                .btn {
                    flex: 1;
                    height: 40px;
                    border-radius: 10px;
                    animation: loading 1s linear infinite alternate;
                }
            }

            .desc {
                margin-bottom: 20px;
                width: 150px;
                height: 10px;
                border-radius: 20px;
                animation: loading 1s linear infinite alternate;
            }
            .circles {
                display: flex;
                gap: 10px;
                margin-bottom: 20px;

                div {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    animation: loading 1s linear infinite alternate;
                }
            }

            .price {
                margin-bottom: 20px;
                width: 100px;
                height: 10px;
                border-radius: 20px;
                animation: loading 1s linear infinite alternate;
            }

            .bottom-btns {
                display: flex;
                gap: 5px;

                div {
                    width: 80px;
                    height: 30px;
                    border-radius: 20px;
                    animation: loading 1s linear infinite alternate;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .product-skeleton {
        flex-direction: column;

        .left {
            width: 80%;
            height: 320px;
        }
        .right {
            width: 80%;
        }
    }
}


@keyframes loading {
    0% { background-color: rgba(128, 128, 128, 0.4)  }
    100% { background-color: rgba(128, 128, 128, 0.1)   }
}